# Dependency directory
node_modules
# Optional npm cache directory
.npm
.tlg

test.js
package-lock.json

# Logs
logs
*.log


# Runtime data
pids
*.pid
*.seed

*.csv
*.dat
*.out
*.gz
*.swp
*.so

# Editors
.vscode
.history
.idea
# OS metadata
.DS_Store
Thumbs.db
